
body {
    width: 100%;
    height: 100%;
    font-size: 14px;
}
.standard h3,
.textLink h3,
.groupBtn h3,
.radioBtn h3,
.checkbox h3,
.textInput h3,
.textField h3 {
    margin: 5px;
    background: #cccccc;
}
.standard span,
.textLink span,
.groupBtn span,
.radioBtn span,
.checkbox span,
.textInput span,
.textField span {
    display: inline-block;
    width: 100%;
    height: 30px;
    line-height: 30px;
}
.standard .iconBtn,
.textLink .iconBtn,
.groupBtn .iconBtn,
.radioBtn .iconBtn,
.checkbox .iconBtn,
.textInput .iconBtn,
.textField .iconBtn {
    display: inline-block;
    width: 15px;
    height: 15px;
    vertical-align: -2px;
    background: #cccccc;
    border-radius: 50%;
    margin-right: 5px;
}
.standard button {
    margin-right: 20px;
    padding: 0 20px;
    height: 30px;
    color: #ffffff;
    background: #ff9600;
    border: 1px solid #ff9600;
}
.standard button:hover {
    background: #cccccc;
    border-color: #cccccc;
}
.standard button:active {
    background: #000000;
    border-color: #000000;
}
.standard button.standardDisable {
    border-color: #a0a0a0;
    background: #a0a0a0;
    color: #666666;
    cursor: not-allowed;
}
.standard button.cancelBtn {
    background: #ffffff;
    border: 1px solid #ff9600;
    color: #666666;
}
.standard button.cancelBtn:hover {
    border-color: #cccccc;
}
.standard button.cancelBtn:active {
    border-color: #000000;
}
.textLink a {
    margin-right: 20px;
    height: 30px;
    line-height: 30px;
    color: #ff9600;
}
.textLink a:hover {
    color: #cccccc;
    border-bottom: 1px solid #cccccc;
}
.textLink a:active {
    color: #000000;
    border-bottom: 1px solid #000000;
}
.textLink a.textLinkDisable {
    color: #666666;
    cursor: not-allowed;
    border-bottom: none;
}
.groupBtn .groupBtnList {
    float: left;
    margin-right: 20px;
    height: 30px;
    line-height: 30px;
    border-left: 1px solid #ff9600;
    border-top: 1px solid #ff9600;
    border-bottom: 1px solid #ff9600;
}
.groupBtn .groupBtnList a {
    float: left;
    padding: 0 10px;
    border-right: 1px solid #ff9600;
}
.groupBtn .groupBtnList a:hover {
    background: #cccccc;
}
.groupBtn .groupBtnList a:active {
    background: #000000;
}
.groupBtn .groupBtnList.groupBtnDisable a {
    background: #a0a0a0;
    color: #666666;
    cursor: not-allowed;
}
.groupBtn .groupBtnList.iconList a {
    padding: 0;
    width: 32px;
    height: 30px;
    line-height: 30px;
    text-align: center;
}
.groupBtn .groupBtnList.iconList a i {
    margin-right: 0;
}
.radioBtn .radioBox,
.checkbox .radioBox,
.radioBtn .checkboxList,
.checkbox .checkboxList {
    line-height: 30px;
}
.radioBtn .radioBox div,
.checkbox .radioBox div,
.radioBtn .checkboxList div,
.checkbox .checkboxList div {
    display: inline-block;
    margin-right: 20px;
    line-height: normal;
}
.radioBtn .radioBox div:hover,
.checkbox .radioBox div:hover,
.radioBtn .checkboxList div:hover,
.checkbox .checkboxList div:hover {
    background: #e5e5e5;
}
.radioBtn input,
.checkbox input {
    display: none;
}
.radioBtn label,
.checkbox label {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding-left: 20px;
    cursor: pointer;
    background: url("../../../Images/unit-btnIcon.png") no-repeat 0 2px;
}
.radioBtn label.checked,
.checkbox label.checked {
    background-position: 0 -19px;
}
.radioBtn label.radioDisable,
.checkbox label.radioDisable {
    background-position: 0 -63px;
}
.radioBtn label.radioDisable.notChick,
.checkbox label.radioDisable.notChick {
    background-position: 0 -41px;
}
.checkbox label {
    background: url("../images/unit-checkBoxIcon.png") no-repeat 0 -28px;
}
.checkbox label.c_on {
    background-position: 0 2px;
}
.checkbox label.radioDisable {
    background-position: 0 -84px;
}
.checkbox label.radioDisable.notChick {
    background-position: 0 -58px;
}
.textInput input {
    width: 188px;
    border: 1px solid #b0b0b0;
    line-height: 28px;
    height: 28px;
    padding-left: 10px;
    vertical-align: middle;
}
.textInput input:focus {
    border: 1px solid #ff9600;
}
.textInput input.errorInput {
    border: 1px solid #f8471d;
    color: #f8471d;
}
.textInput input[disabled] {
    color: #ffffff;
    background: #a0a0a0;
}
.textField textarea {
    vertical-align: text-top;
}
.plugin_dialog {
    left: 0;
    position: absolute;
    top: 0;
    z-index: 1000;
    visibility: hidden;
}
.plugin_dialog.show{
    visibility: visible;
}
.plugin_dialog .plugin_dialog_bg {
    background: #000;
    filter: alpha(opacity=60);
    min-height: 100%;
    opacity: .6;
    position: fixed;
    width: 100%;
    _height: 6400px;
}
.plugin_dialog .cssStyle{
    position: fixed;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    perspective: 600px;
}
.plugin_dialog .plugin_dialog_content {
    position: fixed;
    min-width: 300px;
    z-index: 1000;
    background: #ffffff;
}
.plugin_dialog .plugin_dialog_content.scale{
    transform: scale(0.5);
    opacity: 0;
}
.plugin_dialog.show .plugin_dialog_content.scale{
    transform: scale(1);
    opacity: 1;
    transition: 500ms cubic-bezier(0.4, 0, 0, 1.5);
}
.plugin_dialog .plugin_dialog_content.translate{
    transform: translate3d(0, -100%, 0);
    opacity: 0;
}
.plugin_dialog.show .plugin_dialog_content.translate{
    transform: translate3d(0, 0, 0);
    opacity: 1;
    transition: 500ms cubic-bezier(0.4, 0, 0, 1.5);
}
.plugin_dialog .plugin_dialog_content.horizontal{
    transform: rotateY(70deg);
    opacity: 0;
}
.plugin_dialog.show .plugin_dialog_content.horizontal{
    transform: rotateY(0deg);
    opacity: 1;
    transition: 500ms cubic-bezier(0.4, 0, 0, 1.5);
}
.plugin_dialog .plugin_dialog_content.vertical{
    transform: rotateX(70deg);
    opacity: 0;
}
.plugin_dialog.show .plugin_dialog_content.vertical{
    transform: rotateX(0deg);
    opacity: 1;
    transition: 500ms cubic-bezier(0.4, 0, 0, 1.5);
}
.plugin_dialog .plugin_dialog_content.Sign{
    transform-origin: 50% 0;
    transform: rotateX(-60deg);
    opacity: 0;
}
.plugin_dialog.show .plugin_dialog_content.Sign{
    transform: rotateX(0deg);
    opacity: 1;
    transition: 500ms cubic-bezier(0.4, 0, 0, 1.5);
}
.plugin_dialog .plugin_dialog_hd {
    background: #e1e1e1;
    height: 30px;
    margin: 0 auto;
    position: relative;
}
.plugin_dialog .plugin_dialog_hd .plugin_dialog_logotop {
    margin-left: 4%;
}
.plugin_dialog .plugin_dialog_hd .plugin_dialog_logotop p {
    color: #333;
    font-size: 16px;
    font-weight: normal;
    line-height: 30px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.plugin_dialog .plugin_dialog_hd .closeBtn {
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 6px;
    margin-right: 5px;
    width: 18px;
    height: 18px;
    background: url('images/closeBtn.png') no-repeat 0 0;
}
.plugin_dialog .plugin_dialog_hd .closeBtn:hover {
    background-position: -18px 0;
}
.plugin_dialog .plugin_dialog_bd {
    border: #000 solid 1px;
    position: relative;
    text-align: left;
    padding: 0 20px;
}
.plugin_dialog .plugin_dialog_bd .ask,
.plugin_dialog .plugin_dialog_bd .warn,
.plugin_dialog .plugin_dialog_bd .ok {
    display: inline-block;
    position: relative;
    top: 5px;
    width: 30px;
    height: 22px;
    background: url('images/dialog_icon.png') no-repeat 1px 0;
}
.plugin_dialog .plugin_dialog_bd .warn {
    background-position: -28px 0;
}
.plugin_dialog .plugin_dialog_bd .ok {
    background-position: -57px 0;
}
.plugin_dialog .plugin_dialog_m40 {
    margin: 40px auto;
}
.plugin_dialog .Btn {
    float: right;
    margin-bottom: 20px;
}
.plugin_dialog .title_box {
    height: 30px;
    width: 85%;
}
.plugin_dialog_content .plugin_dialog_bd {
    border: none;
}
.plugin_dialog_warning .plugin_dialog_content {
    background: #fef0ed;
    border: 1px solid #F86B52;
    bottom: 1% ;
    right: 1%;
    position: fixed;
    top: auto;
    width: 30%;
    z-index: 1000;
}
.plugin_dialog_warning .plugin_dialog_content .plugin_dialog_hd {
    background: #fa856f;
}
.plugin_dialog_warning .plugin_dialog_content .plugin_dialog_hd p {
    color: #ffffff;
}
.plugin_dialog_warning .plugin_dialog_content .plugin_dialog_bd {
    line-height: 30px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
