#mapWrap{width:100%; height:100%;}
.mapmain{width:100%; height:90%; position:relative;}
.topmessage{padding-left:1%;padding-right:1%;height:4%; position:absolute;top:0;background-color:#ffffff; width:98%;}
.topmessage .notiymessage{font-size:1rem;color:#666666; margin-left:2%; width:95%;}
.topmessage .notiymessage ul{width:100%;}
.topmessage .notiymessage ul li{float:left;margin-left:2%; height:100%;display: table;}
.topmessage .notiymessage ul li .heightcenter{
	height:auto;
	display:table-cell;
	vertical-align:middle;
}
    .topmessage .colsetittle {
        width: 0.8vw;
        height: 0.8vw;
        background-image: url(../Images/colselayout.png);
        background-size: 100%;
		position: absolute;
		right: 0;
		top: 50%;
		-webkit-transform: translate(0,-50%);
		-ms-transform: translate(0,-50%);
		-o-transform: translate(0,-50%);
		transform: translate(0,-50%);
    }
    .topmessage .colsetittle:hover {
        background-image: url(../Images/colselayout_hover.png);
        background-size: 100%;
    }

.notiymessage a:hover {
    text-decoration: underline;
    color: #f88412;
}
.mapmain .mapleft {
    background-color: #ffffff;
    border: 1px solid #c5c5c5;
    width: 18%;
    position: absolute;
    top: 0%;
    height: 90%;
    margin: 1%;
    padding-bottom: 2vh;
    box-shadow: 0px 0px 12px #c5c5c5;
    /*overflow-x: hidden;*/
}
.mapmain .mapright {
    display:none;
    background-color: #ffffff;
    border: 1px solid #c5c5c5;
    width: 17%;
    position: absolute;
    top: 4%;
    height:auto;
    margin: 1%;
    /*padding-bottom: 2vh;*/
    box-shadow: 0px 0px 12px #c5c5c5;
    right: 0%;
}

.mapleftinput {
    position: relative;
    height: auto;
    
}
    .mapleftinput input {
        border: none;
        height: 3vh;
        display: block;
        width: 96.6%;
        font-size: 1.1rem;
        padding: 0.3vw;
    }
.mapleftreseachbtn {
    background: url(../Images/mapbtnsou.png) no-repeat 0 0;
    background-size: 100%;
    width: 1.1vw;
    height: 1.1vw;
    position: absolute;
    right: 0.5vw;
    top: 0.5vw;
    
}
.mapleftreseachbtn:hover {
    background: url(../Images/mapbtnsou_hover.png) no-repeat 0 0;
    background-size: 100%;
}
.mapleftbtn{height:4vh;width:100%;}
    .mapleftbtn a {
        display: block;
        width: 100%;
        float: left;
        border-top: 1px solid #a0a0a0;
        border-bottom: 1px solid #a0a0a0;
        height:100%;
        line-height:4vh;
        text-align:center;
        font-size:1rem;
    }
    .mapleftbtn .active {
        border-right: 1px solid #fe9d05;
        border-top: 1px solid #fe9d05;
        border-bottom: 1px solid #fe9d05;
        color: #fe9d05;
        font-weight:600;
    }
    .mapleftbtn .active2 {
        border-left: 1px solid #fe9d05;
        border-top: 1px solid #fe9d05;
        border-bottom: 1px solid #fe9d05;
        color: #fe9d05;
    }
.mapleftlist {
    width: 100%;
    /*overflow-x: hidden;*/
    height: 100%;
    position: absolute;
    left: 0%;
}

.mapleftlist_left {
    width: 100%;
    /*overflow-x: hidden;*/
    height: 100%;
    position: absolute;
    left: 0%;
}
.mapleftlist_right {
    display:none;
    width: 100%;
    /*overflow-x: hidden;*/
    height: 39.5rem;
    position: absolute;
    left: 100%;
}

    .mapleftlist ul {
        width: 100%;
        float: left;
    }

.mapleftlist ul li {
    padding: 2%;
    border-bottom: 1px dashed #d5d5d5;
    cursor:pointer;
}
    .mapleftlist ul li:hover {
        background-color: #deecf5;
    }
.sreachtxt {
    font-size: 1rem;
    font-family: "Microsoft YaHei";
    color: rgb(153, 153, 153);
    line-height: 1.2;
    
}

.mapnodata {
    font-size: 1rem;
    color: #333333;
    float: left;
    top: 50%;
    left: 50%;
    height: 1rem;
    text-align: center;
    transform: translate(-50%,-50%);
}

.mapnodata2 {
    font-size: 1rem;
    color: #333333;
    float: left;
    top: 50%;
    left: 50%;
    height: 3rem;
    text-align: center;
    position: relative;
    transform: translate(-50%,-50%);
}
    .mapnodata2 span {
        color: #ff5a5a;
    }
.mapleftlist ul li .right img{width:1.3vw;}
.mapleftlist .mapleftposition {
    height: 4vh;
}
.mapleftlist .mapleftpositiona {
    background: url('../Images/mapcolseall.png') no-repeat 0 0;
    display: block;
    width: 1.2vw;
    height: 1.5vw;
    color: #ffffff;
    font-size: 0.9rem;
    background-size: 100%;
    text-align: center;
    background-size:100%;
}
.mapleftlist .green1 {
    background: url('../Images/mapopenall.png') no-repeat 0 0 !important; 
    background: #11b883;
    background-size: 100% !important;
}
.mapleftlist .orange {
    background: url('../Images/mapopenpart.png') no-repeat 0 0 !important;
    background: #ff9600;
    background-size: 100% !important;
}
.mapleftlist .mapleftfont{margin-left:3%;}
.mapleftlist .mapleftfont div{ height:40%;}
    .mapleftlist .mapleftfont .bluefont {
        color: #0065e1;
        font-size: 1rem;
    }
.mapleftlist .mapleftfont .grayfont {
    color: #666666;
    font-size: 0.9rem;
}
    .mapleftlist .pager {
        height: auto;
        position: absolute;
        bottom: 5%;
        width:100%;
    }
    .mapleftlist .pager img {
        display: block;
        margin: 0 auto;
    }

.mapleft .divdownbtn {
    height: 2vh;
    width: 100%;
    background: url('../Images/jiantouup.png') no-repeat center center;
    background-color: #eeeeee;
    position:absolute;
    bottom:0;
    cursor:pointer;
}
    .mapleft .divdownbtn:hover {
        background: url('../Images/jiantouup_hover.png') no-repeat center center;
        background-color: #e0e0e0;
    }
.mapleft .divupbtn {
    height: 2vh;
    width: 100%;
    background: url('../Images/jiantoudown.png') no-repeat center center;
    background-color: #eeeeee;
    position: absolute;
    bottom: 0;
    cursor: pointer;
    display: none;
}
    .mapleft .divupbtn:hover {
        background: url('../Images/jiantoudown_hover.png') no-repeat center center;
        background-color: #e0e0e0;
    }

.mapright .maprighttittle {
    color: #ffffff;
    font-size: 1rem;
    background-color: #0089e1;
    width: 98%;
    height: auto;
    padding-left: 2%;
    line-height: 1.8rem;
}
.mapright .colseright {
    width: 0.8vw;
    height: 0.8vw;
    background-image: url(../Images/colsewirte.png);
    background-size: 100%;
    position: absolute;
    right: 2%;
    top: 0.8%;
}
    .mapright .colseright:hover {
        background-image: url(../Images/colsewirte_hover.png);
        background-size: 100%;
    }

.mapright .maprightshow {
    font-size: 1rem;
    background-color: #f0f0f0;
    width: 98%;
    height: auto;
    padding-left: 2%;
    line-height: 1.8rem;
    border-bottom: 1px solid #d5d5d5;
}
.maprightinfo {
    font-size: 1rem;
    width: 98%;
    height: auto;
    padding-left: 2%;
    padding-top: 2%;
    color: #666666;
    padding-bottom:4%;
}
.maprightinfo p {
    line-height: 2rem;
}


.addressspan {
    float: left;
    display: block;
    margin-left: 7%;
}
.mapright .maprightshow2 {
    font-size: 1rem;
    background: url(../Images/jiantouup.png) no-repeat 4% center;
    background-color: #f0f0f0;
    width: 90%;
    height: auto;
    padding-left: 10%;
    line-height: 1.8rem;
    border-bottom: 1px solid #d5d5d5;
    cursor: pointer;
}
.mapright .maprightshow2hover {
    font-size: 1rem;
    background: url(../Images/jiantoudown.png) no-repeat 4% center;
    background-color: #f0f0f0;
    width: 90%;
    height: auto;
    padding-left: 10%;
    line-height: 1.8rem;
    border-bottom: 1px solid #d5d5d5;
    cursor: pointer;
}
.maprightlist {
    padding: 2%;
    height:auto;
}
    .maprightlist ul {
        height: auto;
        padding-bottom: 4%;
    }
    .maprightlist ul li {
        font-size: 1rem;
        color: #666666;
        border-bottom: 1px dashed #d5d5d5;
        line-height: 2.7rem;
        height: 2.7rem;
    }
    .maprightlist .mapvideo {
        width: 1.2vw;
        height: 1vw;
        background: url('../Images/mapvideo.png') no-repeat 0 0;
        background-size: 100%;
        display: block;
		position: absolute;
		right:50%;
		top:50%;
		-webkit-transform: translate(0,-50%);
		-ms-transform: translate(0,-50%);
		-o-transform: translate(0,-50%);
		transform: translate(0,-50%);
    }
.mapvideo2 {
    width: 1.2vw;
    height: 1vw;
    background: url('../Images/mapvideo.png') no-repeat 0 0;
    background-size: 100%;
    display: block;
    position: absolute;
    right: 6%;
    top: 50%;
    margin-top: -6%;
    -webkit-transform: translate(0,-50%);
    -ms-transform: translate(0,-50%);
    -o-transform: translate(0,-50%);
    transform: translate(0,-50%);
}
.mapvideo2hover {
    width: 1.2vw;
    height: 1vw;
    background: url('../Images/mapvideo_hover.png') no-repeat 0 0;
    background-size: 100%;
    display: block;
}
    .maprightlist .mapvideohover {
        width: 1.2vw;
        height: 1vw;
        background: url('../Images/mapvideo_hover.png') no-repeat 0 0;
        background-size: 100%;
        display: block;
    }
    .maprightlist .mappic {
        width: 1.2vw;
        height: 1vw;
        background: url('../Images/mappic.png') no-repeat 0 0;
        background-size: 100%;
        display: block;
		position: absolute;
		right:50%;
		top:50%;
		-webkit-transform: translate(-100%,-50%);
		-ms-transform: translate(-100%,-50%);
		-o-transform: translate(-100%,-50%);
		transform: translate(-100%,-50%);
    }
    .maprightlist .mappichover {
        width: 1.2vw;
        height: 1vw;
        background: url('../Images/mappic_hover.png') no-repeat 0 0;
        background-size: 100%;
        display: block;
    }

    .maprightlist .pager {
        height: auto;
        position: absolute;
        bottom: 0.5%;
       
    }

.mapdialog {
    position: absolute;
    z-index: 99999;
    top: 50%;
    left: 50%;
    height: 36vh;
    width: 32vw;
    margin-left:-16vw;
    margin-top:-18vh;
    display:none;
    cursor:move;
}
    .mapdialog .mapdialogtittle {
        color: #ffffff;
        font-size: 1rem;
        background-color: #0089e1;
        width: 96%;
        height: 1.8rem;
        padding-left: 2%;
        padding-right:2%;
        line-height: 1.8rem;
    }

.mapdialogcontent {
    background: #ffffff;
    border: 1px solid #c5c5c5;
    box-shadow: 0px 0px 12px #c5c5c5;
}
.mapdialogcontent img{
	margin:0 auto;
}
.mapdialogtittle .colseright {
    width: 0.8rem;
    height: 0.8rem;
    background-image: url(../Images/colsewirte.png);
    background-size: 100%;
	position: absolute;
	right: 0;
	top: 50%;
	-webkit-transform: translate(0,-50%);
	-ms-transform: translate(0,-50%);
	-o-transform: translate(0,-50%);
	transform: translate(0,-50%);
}
.mapdialogtittle .colseright:hover {
   
    background-image: url(../Images/colsewirte_hover.png);
    background-size: 100%;
}
.citychoice {
    border: 1px solid #c5c5c5;
    box-shadow: 0px 0px 12px #c5c5c5;
    font-size: 1rem;
    position: absolute;
    top: 6%;
    height: auto;
    background-color: #ffffff;
    padding: 1%;
    left: 20%;
    padding: 0.5% 1% 0.5% 0.5%;
    text-align: left;
    cursor:pointer;
}

    .citychoice select {
        width: auto;
        border: none;
        background-position: 4.5rem;
        padding-right: 26px;
    }
    .citychoice select:hover {
        width: auto;
        border: none;
    }
.selectenterprice {
    background-position: 8.8rem;
    padding-top:0.2vw;
    padding-bottom:0.2vw;
}
.pop {
    width: 90px;
    height: 30px;
    line-height: 30px;
    font-size: 14px;
    background: rgba(0,0,0,.5);
    padding: 2px 10px;
    position: absolute;
    top: 0px;
    left: 25px;
    z-index: 5000;
    text-indent: 0;
    color: #fff;
    white-space: nowrap;
    text-align: center;
    border-radius:4px;
}
.notiyIcon {
    height: 17px !important;
    margin-top: 20%;
    margin-left: 10%;
}
.liactive {
    background: #deecf5
}
.anchorBL {
    display: none
}
.tcdPageCode {
    font-size: 0.9rem;
}
 .tcdPageCode a {
    height: 1.6rem;
    width: 1.6rem;
    line-height: 1.6rem;
    margin: 0;
    min-width:1.6rem;
    padding:0;
}
 .tcdPageCode .disLeft, .tcdPageCode .prevPage {
    background-position: 5px 3px;
}
 .tcdPageCode .nextPage, .tcdPageCode .disRight {
    background-position: 5px -32px;
}
 .tcdPageCode .changeNum {
    width: 1.6rem;
    height: 1.6rem;
}
 .tcdPageCode .changeBtn {
    width: 2.5rem;
    height: 1.6rem;
}
.pageSizeShow{
    padding:1rem;
}
.simplepage{
    height:8%;
    position:relative;
    margin-top:-20%;
}
.simplepage2 {
    height: 8%;
    position: relative;
    margin-top: 10%;
}
    .simplepage2 .pageSizeShow {
        padding: 0.5rem;
    }

.videoListPrev {
    width: 10%;
    background: url("../../../../Content/Images/left_no.png") no-repeat;
    background-position-x: 30%;
    background-position-y: 50%;
    cursor: pointer;
    position: absolute;
    left: 0;
    z-index: 99;
}

.videoListNext {
    width: 10%;
    background: url("../../../../Content/Images/right.png") 30% 50% no-repeat;
    cursor: pointer;
    position: absolute;
    right: 0;
    z-index: 99;
}


.videoList {
    width: 80%;
    text-align: left;
    height: 90%;
    position: relative;
    margin-left: 10%;
    margin-top: 1%;
    overflow: hidden
}

    .videoList li {
        line-height: 5vh;
        cursor: default;
        border-bottom: #ccc 1px dashed
    }

        .videoList li:hover {
            background-color: #deecf5
        }

    .videoList .mapvideo {
        width: 1.2vw;
        height: 1vw;
        background: url('../../../../Content/Images/mapvideo.png') no-repeat 0 0;
        background-size: 100%;
        display: block;
        float: right;
        position: relative;
        margin-top: -7%;
        margin-right: 3%;
        -webkit-transform: translate(0,-50%);
        -ms-transform: translate(0,-50%);
        -o-transform: translate(0,-50%);
        transform: translate(0,-50%);
    }



.mapdialog2 {
    position: absolute;
    z-index: 999;
    top: 50%;
    left: 50%;
    height: 27vh;
    width: 25vw;
    margin-left: 0vw;
    margin-top: -18vh;
    display: none;
    cursor: move;
    font-size: 14px;
    font-family: "Microsoft YaHei";
    color: rgb(255, 255, 255);
}

    .mapdialog2 .mapdialogtittle {
        color: #ffffff;
        font-size: 1rem;
        background-color: #0089e1;
        width: 96%;
        height: 2.2rem;
        padding-left: 2%;
        padding-right: 2%;
        line-height: 1.8rem;
    }

    .mapdialog2 .mapdialogcontent {
        overflow: hidden;
    }


.pointPage {
    position: absolute;
    top: 85%;
    left: 40%;
    height: 10%;
}

    .pointPage ul li {
        float: left;
        line-height: 20px;
    }

        .pointPage ul li img {
            margin-left: 10px
        }
