/* reset */
html,body,h1,h2,h3,h4,h5,h6,div,dl,dt,dd,ul,ol,li,p,blockquote,pre,hr,figure,table,caption,th,td,form,fieldset,legend,input,button,textarea,menu{margin:0;padding:0;}
header,footer,section,article,aside,nav,hgroup,address,figure,figcaption,menu,details{display:block;}
table{border-collapse:collapse;border-spacing:0;}
caption,th{text-align:left;font-weight:normal;}
html,body,fieldset,img,iframe,abbr{border:0;}
i,cite,em,var,address,dfn{font-style:normal;}
[hidefocus],summary{outline:0;}
li{list-style:none;}
h1,h2,h3,h4,h5,h6,small{font-size:100%;}
sup,sub{font-size:83%;}
pre,code,kbd,samp{font-family:inherit;}
q:before,q:after{content:none;}
textarea{overflow:auto;resize:none;}
label,summary{cursor:default;}
a,button{cursor:pointer;}
h1,h2,h3,h4,h5,h6,em,strong,b{font-weight:bold;}
del,ins,u,s,a,a:hover{text-decoration:none;}
body,textarea,input,button,select,keygen,legend{font:14px/1.14 arial,\5b8b\4f53;font-family: "微软雅黑";color:#333;outline:0;}
body{background:#fff;}
a,a:hover{color:#333; cursor: pointer;}

html{
  width: 100%;
  height: 100%;
}
body{
  height: 100%;
}

/*function css--------------------*/
.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  line-height: 0;
  content: "";
}
.clearfix:after {
  clear: both;
}
.f-relative {
  position: relative;
}
.f-absolute {
  position: absolute;
}
.f-none {
  display: none!important;
}
.f-block {
  display: block;
}
.f-inlineBlock {
  display: inline-block;
}
.f-floatRight {
  float: right;
}
.f-floatLeft {
  float: left;
}
.f-clearFloat {
  overflow: hidden;
  zoom: 1;
}

.fontRed{color:#ff2a2a}
/*输入类型定义  input textarea placeholder 样式---------*/
input::-webkit-input-placeholder, 
textarea::-webkit-input-placeholder{color: #999; font-size: 10px;}
textarea:-moz-placeholder,
input::-moz-placeholder{color: #999; font-size: 10px;}
input:-ms-input-placeholder, 
textarea:-ms-input-placeholder{color: #999; font-size: 10px;}

/*输入类型定义  input textarea start------------------*/
/*input[type=text] input[type=password] textarea*/
/*默认*/
textarea,
input[type=text],
input[type=email],
input[type=password]{border:1px solid #c9c9c9;padding:0 10px; border-radius: 4px;}
input[type=text],input[type=password]{ height:28px; line-height: 28px;}
textarea{height:80px; width: 300px; overflow:auto; }
/*hover focus*/
textarea:hover,textarea:focus,
input[type=text]:hover,
input[type=text]:focus,
input[type=email]:focus,
input[type=email]:hover,
input[type=password]:focus,
input[type=password]:hover{border:1px solid #0089e1;}

/*disabled*/
textarea:disabled,textarea[disabled=disabled],
input[type=text][disabled=disabled],input[type=text]:disabled,
input[type=password][disabled=disabled],input[type=password]:disabled{border:1px solid #a0a0a0; background: #a0a0a0; color: #666;}
/*error 错误*/
input[type=text].error,input[type=password].error,textarea.error{color: #e35a2c; border:1px solid #e35a2c;}
/*输入类型定义 end--------------------------*/
/*radio  checkbox----------------------*/
/*单元*/
.radioBtn,
.checkboxBtn{display:inline-block;padding:2px; margin-right:20px;}
.checkboxBtn:last-child,
.radioBtn:last-child{margin-right: 0;}
/*鼠标划过*/
/*.radioBtn:hover,
.checkboxBtn:hover{ background: #e5e5e5;}*/
/*隐藏input，为了取值*/
.radioBtn>input[type=radio],
.checkboxBtn>input[type=checkbox]{display: none;}
/*默认*/
.radioBtn>span,
.checkboxBtn>span{vertical-align: middle;display: inline-block; height:16px;width:16px;}
.radioBtn>span{ background: url(../images/unit-btnIcon.png) no-repeat left top;}
.checkboxBtn>span{background: url(../images/unit-checkBoxIcon.png) no-repeat left -30px;}
.checkboxBtn>label,
.radioBtn>label{margin-left:3px; line-height:16px; vertical-align: middle; }
/*选中*/
.radioBtn > span.checked{ background-position: 0 -21px;}
.checkboxBtn>span.checked{background-position: 0 0; }
/*选中不可用*/
.radioBtn > span.radioDisable{background-position: 0 -65px;cursor: default;}
.checkboxBtn>span.checkboxDisable{background-position: 0 -86px;cursor: default;}
/*未选中不可用*/
.radioBtn > span.notChickDis{background-position: 0 -43px;}
.checkboxBtn > span.notChickDis{background-position: 0 -60px;}
/*radio  checkbox end-------------------*/
/*按钮定义 start---------------------------*/
/*默认 样式*/
.btn{ padding:0 8px; border-radius: 4px; height:30px; line-height:30px; border:1px solid #0089e1; color: #0089e1; background: #fff; font-size: 14px;margin-right:15px;}
/*选中滑过状态*/
.btn:hover/*,.btn:focus*/{background: #0089e1; color: #fff;}

/*橙色 确定 保存*/
.orange{ color:#fff; background:#ff9600 ;}
/*选中滑过状态*/
.orange:hover,.orange:focus{ background: #d28415; border-color: #D28415;}
/*不可用状态*/
.btn:disabled{background: #a0a0a0;border-color: #a0a0a0; color: #656565; text-shadow: 1px 1px 0px #C9C9C9; cursor: not-allowed;}

/*按钮里的图标*/
.btn>.btnIcon{vertical-align:middle; background: url(../images/btnSprite.png) no-repeat left top; width:14px; display: inline-block; height:14px; margin-right:5px}
/*保存，取消按钮*/
.btnSave,.btnCancel,.pop_btnSave, .pop_btnReset,.btnSet {
  border:none;
  border-radius: 4px;
  line-height: 35px;
  height:35px;
  width:80px;
  text-align: center;
  color: #fff;
  font: 14px "Microsoft YaHei";
  margin-right:15px;
}
.btnSave {background: -webkit-linear-gradient(#ffa800, #ff9000);}
.btnSave:hover ,.btnSave:focus {background: -webkit-linear-gradient(#f0a005, #ec8704);}
.pop_btnReset{border-radius: 2px;background: -webkit-linear-gradient(#0aaef3, #159af6);}
.pop_btnReset:hover ,.pop_btnReset:focus {background: -webkit-linear-gradient(#019fe1, #0087e6);}
.pop_btnSave{ border-radius: 2px; background: -webkit-linear-gradient(#f57300, #eb5e00);}
.pop_btnSave:hover ,.pop_btnSave:focus {background: -webkit-linear-gradient(#ff6600, #df5400);}

.btnSet{ border-radius: 2px; background: -webkit-linear-gradient(#59b2eb, #4da0d6); width:auto; padding:0 20px;}
.btnSet:hover ,.btnSet:focus {background: -webkit-linear-gradient(#45a1dc, #3c8ec3);}
/*.btnSave.btn-disable {
  border-color: #e5e5e5;
  background: #a0a0a0;
  color: #666666;
  cursor: not-allowed;
}*/
.btnCancel {
   background: -webkit-linear-gradient(#b5b5b5, #a0a0a0);
}
.btnCancel:hover,.btnCancel:focus{
  background: -webkit-linear-gradient(#a5a2a2, #908e8e);
}
/*.btnCancel.btn-disable {
  border-color: #e5e5e5;
  background: #a0a0a0;
  color: #666666;
  cursor: not-allowed;
}*/

/*查询排序*/
.btn >i.query,.btn >i.reorder,.btn>i.toMore,.btn>i.upload{ display:inline-block; margin-top:5px;width:22px; height:17px;background: url(../images/sprint_icon.png) no-repeat left top;}
.btn>i.query{background-position: 2px -29px;}
/*.btn:focus .query,*/ .btn:hover .query{background-position: -46px -29px;}
.btn>i.reorder{background-position: 0 -55px;}
/*.btn:focus .reorder,*/ .btn:hover .reorder{background-position: -30px -55px;}
.btn>i.toMore{background-position: -149px -28px;}
.btn:hover>i.toMore{background-position: -201px -28px;}
.btn.active{ background: #0089e1; color: #fff;}
/*.btn:focus>i.toMore,*/ .btn.active>i.toMore{background-position: -177px -28px;}
.btn>i.upload{background-position: -196px -54px;}
/*.btn:focus>i.upload,*/ .btn:hover>i.upload{background-position: -166px -54px;}
/*文字按钮*/
.textBtn{padding:2px 0px; font-size:14px;border:0; background: none; color: #FF9600;border-bottom:1px solid #fff;}
/*滑过和选中*/
.textBtn:hover, .textBtn:focus{border-bottom:1px solid #FF9600;}
/*不可用*/
.textBtn:disabled{ color: #a6a6a6; border-bottom:0;}
/*输入框清除barcode按钮*/
.closeTxt {
    background: url(../../../../Content/Images/colsetxt.png) no-repeat;
    width: 30px;
    height: 30px;
    position: absolute;
    float: right;
    top: 6px;
    right: 186px;
    border: 1px;
    cursor: pointer;
}

/*  图标按钮   */
.imgBtn { border:0;padding:7px; background:#ff9600;}
.imgBtn:disabled{background:#a0a0a0;}
/*默认添加*/
.imgBtn>i{ background: url(../images/btnSprite.png) no-repeat 1px 1px; display: block; width: 16px; height:16px;}
/*菜单*/
.imgBtn>i.btnMenu{ background-position: 0 -57px;}
/*搜索*/
.imgBtn>i.btnSearch{ background-position: 0 -25px;}
.imgBtn>i.closeList{ background-position: -29px -63px;}
/*按钮定义 start---------------------------*/
/*表单元素布局  start------------------------*/
/*竖向排列的表单form------*/
/*文字元件垂直排列*/
.formgroup{margin-bottom: 20px; }
.formgroup .controlLabel{ line-height: 30px; font-size: 16px;}
.formgroup .colsRight{position: relative;}
.formgroup .colsRight>div.error{position: absolute;color: #E35A2C; line-height: 18px;}
/*文字和元件水平排列*/
.formgroup.inline{vertical-align: middle;}
.formgroup.inline>label{line-height:30px;display: inline-block; width:100px; text-align: right; vertical-align: top;}
.formgroup.inline>.colsRight{display: inline-block;}
.formgroup.inline>td>label{line-height:30px;display: inline-block; width:100px; text-align: right; vertical-align: top;}
.formgroup.inline>td>.colsRight{display: inline-block;}
/*单选 多选，label特殊*/
.formgroup.inline>label.line20{line-height:20px;}

/*水平排列的表单form----*/
form.inline>.formgroup{margin-top:0px; margin-bottom:10px; display: inline-block; margin-right: 15px;}
form.inline>.formgroup:last-child{margin-right:0;}
form.inline>.formgroup.inline>label{display: inline;margin-right: 5px}
/*form.inline>.btnGroup{margin-left:10px}*/
/*按钮和输入框混合*/
.formgroup>.colsRight>.mix{ vertical-align: -4px; margin-left:7px;}

/*下拉框*/
.selector{ display: inline-block; height:30px; width:150px; vertical-align: middle;}


/*自定义滚动条*/
/*定义滚动条宽高及背景，宽高分别对应横竖滚动条的尺寸*/
.scrollbar::-webkit-scrollbar{
    width: 8px;
    /*height: 10px;*/
    background-color: #c0c0c0;
}
/*定义滚动条的轨道，内阴影及圆角*/
.scrollbar::-webkit-scrollbar-track{
	   border-radius: 8px;  
    /*-webkit-box-shadow: inset 0 0 2px rgba(0,0,0,.2);*/
    background-color: #c0c0c0;
}
/*定义滑块，内阴影及圆角*/
.scrollbar::-webkit-scrollbar-thumb{
    /*width:4px;*/
    /*height: 20px;*/
    border-radius: 4px;
    -webkit-box-shadow: inset 0 0 3px rgba(0,0,0,.3);
    background-color: #767676;
}



/*验证失败时表单样式*/
.formgroup .colsRight input.validatefieldClass{ border:1px solid #f00;}



.passDiv {
    padding-top: 10px;
    color: #f00;
    min-width: 175px;
    font-size: 12px;
    font-family: arial;
    opacity: 0.87;
    display: none;
}
.barcodeInput {
    padding-right: 15px !important;
    padding-left: 5px !important;
    padding-top: 0px !important;
}